@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Oswald", sans-serif;
}

/* Untuk semua browser */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Untuk Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  width: fit-content;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: rgba(91, 91, 251, 1);
}

.input-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 10px;
  padding: 10px 30px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  outline: 2px solid rgba(255, 255, 255, 0.8);
  background: rgb(209, 255, 254);
  background: linear-gradient(
    145deg,
    rgba(209, 255, 254, 1) 0%,
    rgba(91, 91, 251, 1) 35%,
    rgba(15, 15, 77, 1) 100%
  );
}

label {
  color: white;
  display: block;
}

input[type="number"] {
  width: 91%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #7df381;
  color: rgb(27, 27, 78);
  border: none;
  border-radius: 5px;
  outline: 1px solid #ffffffd5;
  cursor: pointer;
  background: rgb(209, 255, 221);
  background: linear-gradient(
    145deg,
    rgba(209, 255, 221, 1) 0%,
    rgba(48, 184, 46, 1) 71%
  );
}

button:hover {
  background-color: #45a049;
  color: white;
  transition: all 100ms;
}

.result-section {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.result-section.pass {
  color: green;
  background: rgb(203, 255, 200);
  background: linear-gradient(
    145deg,
    rgb(235, 255, 231) 0%,
    rgb(177, 255, 181) 71%
  );
  outline: 2px solid rgba(21, 255, 0, 0.8);
}

.result-section.fail {
  color: red;
  background: rgb(255, 210, 209);
  background: linear-gradient(
    145deg,
    rgba(255, 210, 209, 1) 0%,
    rgb(255, 183, 182) 71%
  );
  outline: 2px solid rgb(255, 0, 0, 0.4);
}
